/* 
div{
    width: 80%; 
    height: 50%; 
    margin: 0 auto; 
    margin-top: 10em; 
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 32px;
  }
  
  th {
    background-color: rgb(223, 224, 224); ;
  }
  
  td {
    background-color: rgb(107, 108, 109);
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 28px;
  } */