/* The switch - the box around the slider */
.toggle{position: absolute;}

.switch::before{
    border: none;
  }
  .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      margin-top: 45%;
      font-size: 12px;
      white-space: nowrap;
      border: none;
    }
    
    /* Hide default HTML checkbox */
  
    .switch p {
      margin-top: 5%;
      margin-left: -7%;
    }
    .switch .dark-mode-check {
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: #5acfcf;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #5acfcf;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
  
    @media only screen and (max-width: 1000px) {
      .switch {
        width: 37px;
        height: 25px;
        margin-top: 62%;
        font-size: 10px;
        white-space: nowrap;
    
        }
    
        .switch p {
          display: none;
        }
    
        .slider:before {
    
        height: 17px;
        width: 17px;
        margin-left: -6%;
        margin-top: 25%;
    
        }
    
        input:checked + .slider:before {
          -webkit-transform: translateX(14px);
          -ms-transform: translateX(14px);
          transform: translateX(14px);
        }
    }
  
    @media only screen and (max-width: 600px) {
      .switch {
      width: 37px;
      height: 25px;
      margin-top: 57%;
      font-size: 10px;
      white-space: nowrap;
  
      }
  
      .switch p {
        display: none;
      }
  
      .slider:before {
  
      height: 17px;
      width: 17px;
      margin-left: -6%;
      margin-top: 25%;
  
      }
  
      input:checked + .slider:before {
        -webkit-transform: translateX(14px);
        -ms-transform: translateX(14px);
        transform: translateX(14px);
      }
  
  }
  
  @media only screen and (max-width: 375px) {
    .switch {
    width: 27px;
    height: 15px;
    margin-top: 50%;
    font-size: 8px;
    white-space: nowrap;
  
    }
  
    .switch p {
      margin-left: -40%;
      display: none;
    }
  
    .slider:before {
    height: 12px;
    width: 12px;
    margin-left: -6%;
    margin-top: 50%;
    margin-bottom: -10%
  
    }
  
    input:checked + .slider:before {
      -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
      transform: translateX(10px);
    }
  
  }
  
  /* @media only screen and (max-height: 800px) and (max-width: 1280px) {
    .switch {
      margin-top: 60%;
    }
   */
  
  /* } */
  
  /* @media only screen and (max-height: 600px) and (max-width: 1024px) {
    .switch {
      width: 37px;
      height: 25px;
      margin-top: 80%;
      font-size: 10px;
      white-space: nowrap;
  
      }
  
      .switch p {
        display: none;
      }
  
      .slider:before {
  
      height: 17px;
      width: 17px;
      margin-left: -6%;
      margin-top: 25%;
  
      }
  
      input:checked + .slider:before {
        -webkit-transform: translateX(14px);
        -ms-transform: translateX(14px);
        transform: translateX(14px);
      }
  }
  
  @media only screen and (max-height: 720px) and (max-width: 540px) {
  
    .switch {
      width: 30px;
      height: 20px;
      margin-top: 60%;
      font-size: 10px;
      white-space: nowrap;
  
      }
  
      .switch p {
        display: none;
      }
  
      .slider:before {
  
      height: 13px;
      width: 13px;
      margin-left: -6%;
      margin-top: 25%;
  
      }
  
      input:checked + .slider:before {
        -webkit-transform: translateX(14px);
        -ms-transform: translateX(14px);
        transform: translateX(14px);
      }
  
  }
  
  @media only screen and (max-height: 812px) {
    .switch{
      margin-bottom: 10%;
    }
  } */