
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}



.navbar-container{
    display: flex;
    justify-content: space-between;
    width: 100%; 
    background-color: black;
    border: 1px solid black;  
    font-size: 2em; 
}

/* .navbar-selection{
    text-decoration: none;
} */

.navbar-logo{
    margin-left: 2em; 
}
.navbar-selection ul{
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: flex-end;
    list-style-type: none;
}

.navbar-selection{ 
    width: 85%;
    border: 1px solid black; 
}

.navbar-selection li{
    
    margin-right: 2em;
}

.navbar-selection li a{
    color: #fff; 
    margin-right: 4em;
}